<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background-color: #282c34;
        color: #fff;
      }
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      #card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        box-sizing: border-box;
      }
      #signupForm label {
        display: block;
        margin-top: 10px;
        color: black;
      }
      #signupForm input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
      }
      #signupForm button {
        margin-top: 15px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 5px;
      }
      #signupForm button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <section>
      <div id="card">
        <h2 style="text-align: center; margin-bottom: 20px; color:black">Registration Form</h2>

        <!-- signup.hbs -->

        <form
          action="/signup"
          method="post"
          style="text-align: left"
          id="signupForm"
          enctype="multipart/form-data"
        >
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Example@123" required />

          <label for="profilePic">Profile Pic:</label>
          <input type="file" id="file-name" name="profilePic"  style="color: black;" />

          <div style="display: flex;justify-content: space-around;">
            <button type="submit">Sign Up</button>

            <button>
              <a href="/login" style="text-decoration:none;color:#ffff;padding:10px ;">
                Login
              </a>
            </button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
